<h1>Sign up</h1>
<%= form_with model: @user, url: register_path do |form| %>
  <%= form.text_field :email %>
  <%= form.text_field :password %>
  <%= form.text_field :password_confirmation %>
<% end%>
